.jumbotron {
    background-image: url("whale.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
    border-bottom-style: white 2px;
}

.lead, .display-4 {
    font-weight: bolder;
}